# References: https://github.com/github/gitignore/blob/master/Unity.gitignore
.vs/
*.cache

/Program/GameClient/unity_project/Assets/\[7.PatchGenerator\]
/Program/GameClient/unity_project/Assets/\[4.Shared\]
/Program/GameClient/unity_project/Assets/\[5.JsonMarshaler\]
/Program/GameClient/unity_project/Temp
/Program/GameClient/unity_project/Library
/Program/GameClient/unity_project/Logs
/Program/GameClient/unity_project/obj/
/Program/GameClient/unity_project/Assets/\[5.JsonMarshaler\].meta
/Program/GameClient/unity_project/Assets/\[7.PatchGenerator\].meta
/Program/GameClient/unity_project/Assets/\[4.Shared\].meta
/Program/GameClient/unity_project/*.csproj
/Program/GameClient/unity_project/unity_project.sln
/Program/PatchGenerator/obj
/Program/PatchGenerator/bin
/Program/GameClient/unity_project/Bin
/Program/Shared/bin
/Program/Shared/obj
/Program/DataElementGenerator/bin
/Program/DataElementGenerator/obj
/Program/GameClient/unity_project/Assets/(ClientLocalData)
/Program/GameClient/unity_project/Assets/(ClientLocalData).meta
/Program/GameClient/unity_project/BattleEvent
/Program/GameClient/unity_project/DownloadedAssets
/Program/GameClient/unity_project/Request.txt
/Program/GameClient/unity_project/Assets/\[0.GameShared\]/Shader/Filter.meta
/Program/GameClient/unity_project/Assets/\[0.GameShared\]/Shader/Resources/Vespa/Shader/(temp).meta
/Program/GameClient2/unity_project/
/Program/GameClient3/unity_project/
/Program/JsonMarshaler/bin
/Program/JsonMarshaler/obj
/Program/TableData
/Program/Localization
/Program/GameClient/unity_project/Assets/Resources.Link/UI/Atlas
/Program/GameClient/unity_project/Assets/Resources/Localization
/Program/GameClient/unity_project/Assets/Resources/DefaultTableData
/Program/GameClient/unity_project/Assets/GooglePlayGames
/Program/GameClient/unity_project/Assets/Plugins/Android/localizedappnamelib/res/values-*.meta
/Program/GameClient/unity_project/Assets/Editor/Treemap/Tests.meta
/Program/GameClient/unity_project/Assets/Editor/JsonDotNet20.meta
/Program/GameClient/unity_project/Assets/Editor/Treemap.meta
/Program/GameClient/unity_project/Assets/Resources/DefaultTableData.meta
Program/GameClient/unity_project/Assets/Plugins/x86_64/Firebase/FirebaseCppApp-6.0.0.dll
Program/JsonMarshaler/MessagePackTemplate/MessagePackGen_Combined.cs
Program/JsonMarshaler/JsonMarshaler/Generated/JsonMarshaler.cs.meta
Program/JsonMarshaler/JsonMarshaler/Generated/MessagePackGen.cs.meta
